<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84167812161B55B2002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8416782C161B5613002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84167840161B56A2002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84167854161B56C4002C60E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C337991698B693009B8177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F424E1161B59E500777765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F424FA161B5A4900777765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
